flows.json
[
    {
        "id": "ec8f93fd2ff47f8c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "747f287667f1b36f",
        "type": "inject",
        "z": "ec8f93fd2ff47f8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "f360b36b027f1df8"
            ]
        ]
    },
    {
        "id": "1c8485397db3069c",
        "type": "debug",
        "z": "ec8f93fd2ff47f8c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "f360b36b027f1df8",
        "type": "mysql",
        "z": "ec8f93fd2ff47f8c",
        "name": "",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "1c8485397db3069c"
            ]
        ]
    }
]